.submitRequest {
  /* display: none; */
  top: 20%;
  left: 20%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pop-up {
  text-align: center;
  width: 800px;
  height: 420px;
  background-color: rgb(91, 148, 172);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.submitRequest fieldset {
  padding: 40px;
}
